$primary-color: rgb(59 130 246);
$primary-color-blur: rgb(59 130 246/ 0.6);

@mixin padraoPersonInfo {
  align-items: center;
  border-radius: 30px;
  color: $primary-color;
  position: absolute;
  width: 300px;
  text-align: center;
  background-color: rgba(97, 94, 94, 0.3);
  padding: 15px 20px;
}

@mixin padraoPerson {
  position: absolute;
  border-radius: 100%;
  width: 150px;
}

.boldd {
  color: $primary-color;
  font-weight: 700;
}

.testimonial {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  gap: 30px;

  &-container {
    position: relative;
    width: 100%;

    &-world {
      position: relative;
      opacity: 0.15;
      width: 100%;

      &-mobile {
        display: none;
        opacity: 0.1;
      }
    }
    &-person1 {
      @include padraoPerson();
      width: 200px;
      top: 20%;
      left: 50%;
    }
    &-person1-info-hide, &-person2-info-hide {
      display: none;
    }
    &-person1-info-show {
      @include padraoPersonInfo();
      top: 3%;
      left: 35%;
    }
    &-person2 {
      @include padraoPerson();
      top: 70%;
      left: 30%;
    }
    &-person2-info-show {
      @include padraoPersonInfo();
      top: 50%;
      left: 35%;
    }
  }
}

@media (max-width: 892px) {
  .testimonial {
    width: 80%;
    flex-direction: column;
    &-container {
      position: relative;
  
      &-world {
        display: none;

        &-mobile {
          display: flex;
          width: 100%;
          margin: auto;
        }
      }

      &-person1-info-hide, &-person1-info-show {
        display: flex;
        @include padraoPersonInfo();
        top: 8%;
        left: 10%;

        h4 {
          font-size: 15px;
        }
      }

      &-person2-info-hide, &-person2-info-show {
        display: flex;
        @include padraoPersonInfo();
        top: 55%;
        left: 10%;
        
        h4 {
          font-size: 15px;
        }
      }

      &-person1 {
        left: 30%;
      }

      &-person2 {
        left: 30%;
      }
    }
  }
}