$primary-color: rgb(59 130 246);

.header {
  width: 100%;
  height: 100px;
  &-align {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 1052px) {
 header {
          padding-bottom: 80px;
      }
}

.link {
  color: $primary-color !important;
  font-style:normal !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 45px !important;

  &:hover {
    border-bottom: 2px solid $primary-color;
  }
}

// .navbar-toggler {
//   &-icon {
//       background-image: url('../../../assets/icons/hamburguer-icon.svg') !important;
//   }
// }