$primary-color: rgb(59 130 246);
$primary-color-blur: rgb(59 130 246/ 0.6);

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;

  &-company {
    display: flex;
    justify-content: center;
    margin: auto;

    &-info {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;
      width: 40%;

      h6 {
        text-align: justify;
      }
    }

    &-score {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 40%;
      gap: 30px;

      &-details {
        display: flex;
        justify-content: center;
      }
    }
  }

  &-clients {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.carrousel {
  display: flex;
  height: 180px;
  gap: 15px;

  white-space: nowrap;
  animation: bannermove 10s linear infinite;

  &-img {
    display: flex;
    align-items: center;
    width: 180px;
    margin: 0 0.5em 
  }

  @keyframes bannermove {
    0% {
        transform: translate(30%, 0);
    }
    100% {
        transform: translate(-0%, 0);
    }
  }
}

@media (max-width: 992px) {
  .about {
    
    &-company {
      flex-direction: column;
      align-items: center;
      gap: 30px;

      &-info {
        width: 80%;
      }

      &-score {
        flex-direction: row;
      }
    }
    &-clients {
      width: 85%;
      margin: auto;
    }
  }
}